/*Loads Tailwind, sets font, makes buttons smooth, and for shortcut*/
/*css directives*/
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Global Default Layouts*/
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #111827;
}
button{
    transition: all 0.2s ease;
}
/*Custom Global Tailwind Shortcut*/
/*For every rider card - will use className="card-hover"*/
@layer components{
    .card-hover{
        @apply transition-shadow duration-200 hover:shadow-md;
    }
}